body {
  margin: 0;
}

// Testimonial Section

#testimonials {
  background-color: lightgray;
  text-align: center;
}

#testimonials .carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
}

// Footer Section

#footer {
  background-color: grey;
  text-align: center;
  margin-bottom: 0;
}
