body {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

// Features Section

#features {
  padding: 5%;
}

.feature-card {
  margin: 0 15px 0;
}

// Testimonial Section

#testimonials {
  background-color: gray;
  text-align: center;
}

#testimonials .carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
}
