<h3 class="text-center mt-5">Editing a Venue</h3>

<%= render "form", venue: @venue %>

<br>

<div class="text-center">
  <%= link_to "Show this venue", @venue %> |
  <%= link_to "Back to Venues", venues_path %>
</div>
