<h3 style="text-align: center;" class="mt-5">Editing a Venue</h3>

<%= render "form", venue: @venue %>

<br>

<div style="text-align: center;">
  <%= link_to "Show this venue", @venue %> |
  <%= link_to "Back to Venues", venues_path %>
</div>
