

<% if user_signed_in?%>
  <div class="modal fade" id="new_booking_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Just one more step to your dream castle!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= simple_form_for [@venue, @reservation] do |f| %>
          <div class="modal-body">
          <%= f.input :date, html5: true %>
          <%= f.button :submit %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-ghost" data-bs-dismiss="modal">Close</button>
          </div>
         <% end %>
      </div>
    </div>
  </div>
<% end %>


<div class="modal fade" id="new_booking_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Not logged in yet!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= link_to "Please sign in to proceed booking", "/users/sign_in", class: "btn banner-btn" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<%# sign_in_and_redirect @user, :event => :authentication
sign_in_and_redirect(resource_or_scope, *args) ⇒ Object %>
