// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.row {
  padding: 30px;
  border: 2px;
}

// search on the map
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

.container_banner{
  padding: 130px;
  text-align: center;
}

.container {
  text-align: center;
  padding-top: 40px;
}

.container_category {
  text-align: center;
  padding-top: 40px;
}
p{
  font-family: "Work Sans";
  font-size: 20px;
}

#banner_castle{
  background-size: cover;
  background-position: center;
}

#banner_castle h1 {
  color: white;
}
